  body {
    background: rgb(138, 63, 251);
    background: radial-gradient(circle, rgba(138, 63, 251, 1) 0%, rgba(243, 213, 104, 1) 29%, rgba(93, 131, 241, 1) 38%, rgba(89, 251, 225, 1) 48%, rgba(187, 252, 70, 1) 100%);
  }

  /* header {
    background-color: rgb(51, 51, 51);
    color: rgb(225, 225, 225);
    border-color: rgb(2, 2, 2);
    box-shadow: 0 24px 28px 0 rgba(0, 0, 0, 0.35), 0 24px 28px 0 rgba(0, 0, 0, 0.35);
  }
  
  nav {
    background: rgb(51, 51, 51);
    border-color: rgb(2, 2, 2);
    box-shadow: 0 24px 28px 0 rgba(0, 0, 0, 0.35), 0 24px 28px 0 rgba(0, 0, 0, 0.35);
  }
  
  article {
    background-color: rgb(51, 51, 51);
    border-color: rgb(2, 2, 2);
    box-shadow: 0 24px 28px 0 rgba(0, 0, 0, 0.35), 0 24px 28px 0 rgba(0, 0, 0, 0.35);
  } */

  footer {
    background-color: rgb(51, 51, 51);
    color: rgb(225, 225, 225);
    border-color: rgb(2, 2, 2);
    box-shadow: 0 24px 28px 0 rgba(0, 0, 0, 0.35), 0 24px 28px 0 rgba(0, 0, 0, 0.35);
  }

  h1 {
    color: rgb(225, 225, 225);
    text-shadow: 2px 2px 5px rgb(0, 60, 255);
  }

  p {
    color: rgb(225, 225, 225);
  }

  #headerTitle {
    color: rgb(255, 128, 82);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  #cardImg {
    border-color: rgb(2, 2, 2);
    box-shadow: 0 24px 28px 0 rgba(0, 0, 0, 0.35), 0 10px 20px 0 rgba(0, 0, 0, 0.35);
  }

  #cardImg:hover {
    border: 1px solid rgb(51, 51, 51);
    box-shadow: 0 24px 28px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  }

  #cardImg img {
    border-color: rgb(2, 2, 2);
  }

  #PLi {
    color: rgb(225, 225, 225);
  }

  #pageLinks {
    background-color: rgb(22, 7, 3);
    color: rgb(225, 225, 225);
  }

  label {
    color: rgb(225, 225, 225);
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    background-color: rgb(107, 107, 107);
    border: 2px solid rgb(255, 0, 0);
    color: rgb(225, 225, 225);
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus {
    background-color: rgb(25, 25, 25);
  }

  textarea {
    border: 2px solid rgb(204, 204, 204);
    background-color: rgb(51, 51, 51);
  }

  select {
    background-color: rgb(79, 79, 79);
  }

  input[type=button],
  input[type=submit],
  input[type=reset] {
    background-color: rgb(1, 30, 20);
    color: rgb(107, 107, 107);
  }