  body {
    background: rgb(138, 63, 251);
    background: radial-gradient(circle, rgba(138, 63, 251, 1) 0%, rgba(243, 213, 104, 1) 29%, rgba(93, 131, 241, 1) 38%, rgba(89, 251, 225, 1) 48%, rgba(187, 252, 70, 1) 100%);
  }
  
  header {
    background-color: #333333;
    color: rgb(225, 225, 225);
    border-color: rgb(2, 2, 2);
    box-shadow: 0 24px 28px 0 rgba(0, 0, 0, 0.35), 0 24px 28px 0 rgba(0, 0, 0, 0.35);
  }
  
  nav {
    background: #333333;
    border-color: rgb(2, 2, 2);
    box-shadow: 0 24px 28px 0 rgba(0, 0, 0, 0.35), 0 24px 28px 0 rgba(0, 0, 0, 0.35);
  }
  
  article {
    background-color: #333333;
    border-color: rgb(2, 2, 2);
    box-shadow: 0 24px 28px 0 rgba(0, 0, 0, 0.35), 0 24px 28px 0 rgba(0, 0, 0, 0.35);
  }

  footer {
    background-color: #333333;
    color: rgb(225, 225, 225);
    border-color: rgb(2, 2, 2);
    box-shadow: 0 24px 28px 0 rgba(0, 0, 0, 0.35), 0 24px 28px 0 rgba(0, 0, 0, 0.35);
  }
  
  h1 {
    color: rgb(225, 225, 225);
    text-shadow: 2px 2px 5px rgb(0, 60, 255);
  }

  p {
    color: rgb(225, 225, 225);
  }
  
  #headerTitle {
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  #cardImg {
    border-color: rgb(2, 2, 2);
    box-shadow: 0 24px 28px 0 rgba(0, 0, 0, 0.35), 0 10px 20px 0 rgba(0, 0, 0, 0.35);
  }
  
  #cardImg:hover {
    border: 1px solid #333;
    box-shadow: 0 24px 28px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  }
  
  #cardImg img {
    border-color: rgb(2, 2, 2);
  }

  #Li {
    color: rgb(225, 225, 225);
    text-shadow: 2px 2px 5px rgb(82, 122, 255);
  }
  
  #PLi {
    color: rgb(225, 225, 225);
  }
  
  li {
    color: rgb(225, 225, 225);
  }

  #pageLinks {
    background-color: #160703;
    color: rgb(225, 225, 225);
  }
  
  label {
    color: rgb(225, 225, 225);
  }

  input[type="text"] {
    background-color: #6b6b6b;
    border: 2px solid red;
    color: rgb(225, 225, 225);
  }

  input[type="text"]:focus {
    background-color: rgb(25, 25, 25);
  }

  input[type="email"] {
    background-color: #6b6b6b;
    border: 2px solid red;
    color: rgb(225, 225, 225);
  }

  input[type="email"]:focus {
    background-color: rgb(25, 25, 25);
  }

  input[type="password"] {
    background-color: #6b6b6b;
    border: 2px solid red;
    color: rgb(225, 225, 225);
  }

  input[type="password"]:focus {
    background-color: rgb(25, 25, 25);
  }

  input[type="date"] {
    background-color: #6b6b6b;
    border: 2px solid red;
    color: rgb(225, 225, 225);
  }

  input[type="date"]:focus {
    background-color: rgb(25, 25, 25);
  }

  textarea {
    border: 2px solid #ccc;
    background-color: #333333;
  }

  select {
    background-color: #505050;
  }

  input[type=button],
  input[type=submit],
  input[type=reset] {
    background-color: #011d13;
    color: #6b6b6b;
  }